In [1]:
rows= int(input("enter the number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("#",end="")
    print("\n")

enter the number of rows: 8
#

##

###

####

#####

######

#######

########

In [2]:
d={'A':1,'B':2,'C':3}
key=input("enter key to check:")
if key in d.keys():
    print("key is present & value for key")
    print(d[key])
else:
    print("invalid key")

enter key to check:u
invalid key

In [3]:
list=[1,3,4,5,7]
def square(list):
    return[i**2 for i in list]
square(list)

[1, 9, 16, 25, 49]

In [4]:
even_no=[i for i in range(10) if i%2==0]
print(even_no)

[0, 2, 4, 6, 8]

In [5]:
digits=[i**2 for i in range(1,10)]
print(digits)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:

rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print("\n")

Enter number of rows: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [8]:
# reverse a integer in python
n=int(input("enter anumber"))
rev=0
while (n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("the reverse number:",rev)

enter anumber890
the reverse number: 98

In [ ]:
#second largest number
a=[]
n=int(input("enter the number:"))
for i in range(1,n+1):
    b= int(input("enter number:"))
    a.append(b)
    a.sort()
print("second largest number:",a[n-2])

enter the number:67
enter number:90
enter number:7687

In [13]:
list=[23,45,67,89,26,47]
list.sort()
print("second largest number",list[-2])

second largest number 67

In [3]:
def my_function(x):
  return x[::-1]

mytxt = my_function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

In [5]:
def my_function(x):
  return x[::-1]

mytxt = my_function(['fgh','dgfgf','fdgfg'])

print(mytxt)

['fdgfg', 'dgfgf', 'fgh']

In [3]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [15]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : ['abc', 'xyz', 'pqr']
  }
}

In [16]:
myfamily.values()

dict_values([{'name': 'Emil', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': ['abc', 'xyz', 'pqr']}])

In [17]:
myfamily.keys()

dict_keys(['child1', 'child2', 'child3'])

In [27]:
myfamily.items()

dict_items([('child1', {'name': 'Emil', 'year': 2004}), ('child2', {'name': 'Tobias', 'year': 2007}), ('child3', {'name': 'Linus', 'year': ['abc', 'xyz', 'pqr']})])

In [23]:
myfamily['child3']

{'name': 'Linus', 'year': ['abc', 'xyz', 'pqr']}

In [24]:
myfamily['child3']['year']

['abc', 'xyz', 'pqr']

In [26]:
myfamily['child3']['year'][2]

'pqr'

In [1]:
a=[1,2,4,5,7,9]
squares=[i**2 for i in a]
print(squares)

[1, 4, 16, 25, 49, 81]

In [2]:
a=[1,4,7,9,23,45]
for i in a:
    if i%2==0:
        print(i,"even number:")
    else:
        print(i,"odd number")

1 odd number
4 even number:
7 odd number
9 odd number
23 odd number
45 odd number

In [3]:
num =[3,6,89,45,6] 
for i in num:
    if (i % 2) == 0:
        print("{0} is Even number".format(i))  
    else:
        print("{0} is Odd number".format(i))

3 is Odd number
6 is Even number
89 is Odd number
45 is Odd number
6 is Even number

In [1]:
def listtostring(s):
    str1=" "
    for ele in s:
        str1 += ele
    return str1
s=['siddu','samhi']
print(listtostring(s))

 siddusamhi

In [2]:
# Python code to count the number of occurrences
def countX(lst, x):
    return lst.count(x)
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

In [3]:
def occu(list,x):
    return list.count(x)
list=[3,6,8,4,6,6,6]
x=6
print(occu(list,x))

4

In [4]:
# Python program to get average of a list
def Average(lst):
    return sum(lst) / len(lst)
  
# Driver Code
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)
  
# Printing average of the list
print("Average of the list =", round(average, 2))

Average of the list = 35.75

In [5]:
def avg(list):
    return sum(list)/len(list)
list=[23,56,23,12,34]
print(avg(list))

29.6

In [9]:
# Function calling
def dictionary():
    # Declare hash function
    key_value = {}
 # Initializing value
    key_value[2] = 56
    key_value[1] = 2
    key_value[5] = 12
    key_value[4] = 24
    key_value[6] = 18
    key_value[3] = 323
    
    for i in sorted(key_value.keys()):
        print(i, end=" ")
def main():
    dictionary()
    
if __name__ == "__main__":
    main()

1 2 3 4 5 6

In [11]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
 
dict = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
dict1 = OrderedDict(sorted(dict.items()))
print(dict1)

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [12]:
# Function calling
def dictionairy():
 
    # Declaring hash function
    key_value = {}
 
# Initializing the value
    key_value[2] = 56
    key_value[1] = 2
    key_value[5] = 12
    key_value[4] = 24
    key_value[6] = 18
    key_value[3] = 323
     
    print("key_value",key_value)
 
    print("Task 3:-\nKeys and Values sorted",
          "in alphabetical order by the value")
 
    # Note that it will sort in lexicographical order
    # For mathematical way, change it to float
    print(sorted(key_value.items(), key=lambda kv:
                 (kv[1], kv[0])))
 
 
def main():
    # function calling
    dictionairy()
 
 
# main function calling
if __name__ == "__main__":
    main()

key_value {2: 56, 1: 2, 5: 12, 4: 24, 6: 18, 3: 323}
Task 3:-
Keys and Values sorted in alphabetical order by the value
[(1, 2), (5, 12), (6, 18), (4, 24), (2, 56), (3, 323)]

In [1]:
dictlang = {'c#': 6, 'GO': 89, 'Python': 4,'Rust':10}
 
for _ in sorted(dictlang):
    print (dictlang[_])

89
4
10
6

In [2]:
dictlang = {'c#': 6, 'GO': 89, 'Python': 4,'Rust':10}
 
for a in sorted(dictlang):
    print (dictlang[a])

89
4
10
6

In [2]:
from collections import Counter  
def generateStrings(input): 
     str_char_ctr = Counter(input) 
     part1 = [ key for (key,count) in str_char_ctr.items() if count==1] 
     part2 = [ key for (key,count) in str_char_ctr.items() if count>1] 
     part1.sort() 
     part2.sort()
     return part1,part2
input = "ABC"
s1, s2 = generateStrings(input)
print(''.join(s1))   
print(''.join(s2))

ABC

In [3]:
def strprogramme():
    str1 = input("provide first value")
    str2 = input("provide second value")
    output1, output2 = '',''
    if str1 and str2:
        output1 = ''.join([i for i in str1 if i not in str2])
        output2 = ''.join([i for i in str2 if i not in str1])
        if output1:
            print('output is {}'.format(output1))
        else:
            print('output1 is None')
        if output2:
            print('output2 is {}'.format(output2))
        else:
            print('output2 is None')
    else:
        print('please provide the str1 and str2 values')

strprogramme()

provide first valueju
provide second valuejkjo'
output is u
output2 is ko'

In [2]:
l=[1,2,3,4]
a=[0]*len(l)
for i in range(len(l)):
    p=1
    for j in range(len(l)):
        if(i==j):
            continue
        else:
            p*=l[j]
        a[i]=p
print(a)

[24, 12, 8, 6]

In [1]:
# Python program to illustrate destructor
class Employee:
 
    # Initializing
    def __init__(self):
        print('Employee created.')
 
    # Deleting (Calling destructor)
    def __del__(self):
        print('Destructor called, Employee deleted.')
 
obj = Employee()
del obj

Employee created.
Destructor called, Employee deleted.

### Sequences
- length
- select
- index
- sum
- membership
- max value
- min value
- concatination

In [14]:
str= "siddhodhana"
tuple=(23,(2,5,7),56,(5,4,3),89,3.5)
list=[34,23,[34,65],7,8,2]
print(len(str))

11

In [15]:
# select
str[4]

'h'

In [16]:
list[2]

[34, 65]

In [17]:
list[2][0]

34

In [22]:
tuple[3]

(5, 4, 3)

In [23]:
str[::-1]

'anahdohddis'

In [24]:
str[:4]

'sidd'

In [25]:
str[2:]

'ddhodhana'

In [6]:
a=[1,2,3,4]
b=['one','two','three','four']
dict={}
for i in range(len(a)):
    dict[a[i]]=b[i]
print(dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [8]:
dict.keys()

dict_keys([1, 2, 3, 4])

In [9]:
dict.values()

dict_values(['one', 'two', 'three', 'four'])

In [5]:
n=int(input("number of rows:"))
k=0
for i in range(n):
    k=k+i
m=k+n
for i in range(n):
    for j in range(i+1):
        print(m,end=" ")
        m=m-1
    print()

number of rows:5
15
14 13
12 11 10
9 8 7 6
5 4 3 2 1

In [4]:
for n in range(100,120):
    temp=n
    rev=0
    while(n>0):
        dig=n%10
        rev=rev*10+dig
        n=n//10
    if(temp==rev):
        print("palindrome") 
    else:
        print("The number isn't a palindrome!")

The number isn't a palindrome!
palindrome
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
palindrome
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!
The number isn't a palindrome!

In [6]:
a="abc"
b=3
a or b

'abc'

In [8]:
list=[1,2,3,4,5]
[i*i for i in list]

[1, 4, 9, 16, 25]

In [3]:
list1=[1,2,3,4,5]
list2=list(map(lambda x:x*x,list1))
list2

[1, 4, 9, 16, 25]

In [ ]:
8421
------------
0000
0001
0010
0011
0100

In [ ]:
0001
0010
------
0011

In [47]:
a=3
b=4
a and b

4

In [2]:
li=['siddu','fgkh','sdfef']
for i in li:
    print(i[::-1])

uddis
hkgf
fefds

In [3]:
li="siddhodhana"
li[::-1]

'anahdohddis'

In [4]:
li[0]

's'

In [10]:
li="sidddu"
li[2:]

'dddu'

In [1]:
def instaa():
    return s[0]=="a"
list=['adfr','qwe','efe','asetyy']

siddu= map(instaa,list)
print()

In [10]:
# MULTIPLE INHERITANCE::
# ----------------------------
# class is derived from more than one base class is called the  multiple inheritance
#  derived class  inherits all the properties from base class 

# Python program to demonstrate
# multiple inheritance
 
# Base class1
class Mother:
    mothername = ""
 
    def mother(self):
        print(self.mothername)
 
# Base class2
 
 
class Father:
    fathername = ""
 
    def father(self):
        print(self.fathername)
 
# Derived class
 
 
class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
 
 
# Driver's code
s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA

In [13]:
# multilevel inheritance (grand father,father,son)
# features of the base class and derived class further inherits to the another derived class is called the multilevel inheritance

# Python program to demonstrate
# multilevel inheritance
 
# Base class
 
 
class Grandfather:
 
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername
 
# Intermediate class
 
 
class Father(Grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
 
        # invoking constructor of Grandfather class
        Grandfather.__init__(self, grandfathername)
 
# Derived class
 
 
class Son(Father):
    def __init__(self, sonname, fathername, grandfathername):
        self.sonname = sonname
 
        # invoking constructor of Father class
        Father.__init__(self, fathername, grandfathername)
 
    def print_name(self):
        print('Grandfather name :', self.grandfathername)
        print("Father name :", self.fathername)
        print("Son name :", self.sonname)
 
 
#  Driver code
s1 = Son('Prince', 'Rampal', 'Lal mani')
print(s1.grandfathername)
s1.print_name()

Lal mani
Grandfather name : Lal mani
Father name : Rampal
Son name : Prince

In [14]:
# CONSTRUCTOR AND DESTRUCTOR
# Python Constructor is the special function that is automatically executed when an object of a class is created. Python __init__ function is to act as a Constructor. 
# Python Destructor is also a special method that gets executed automatically when an object exit from the scope.


# Python program to illustrate destructor
class Employee:
 
    # Initializing
    def __init__(self):
        print('Employee created.')
 
    # Deleting (Calling destructor)
    def __del__(self):
        print('Destructor called, Employee deleted.')
 
obj = Employee()
del obj

Employee created.
Destructor called, Employee deleted.

In [15]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [16]:
pow2 = [2 ** x for x in range(10) if x>5]
print(pow2)

[64, 128, 256, 512]

In [22]:
pow2 = [2 ** x for x in range(10) if x > 5]
print(pow2)

odd = [x for x in range(20) if x % 2 == 1]
print(odd)

even= [x for x in range(10) if x%2==0]
print(even)

[64, 128, 256, 512]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8]

In [24]:
s = ('Hello '
      'World')

In [25]:
print(s)

Hello World

In [26]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [29]:
str = 'cold'

# enumerate()
numerate = list(enumerate(str))
print(numerate)

TypeError: 'list' object is not callable

In [30]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

TypeError: 'list' object is not callable

In [33]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact= i*fact
    print(fact)
fact(5)

120

In [9]:

list1=[1,2,3,4]
list2=copy.copy(list1)
list2.append(5)
print(list())

ModuleNotFoundError: No module named 'Copy'

In [3]:
list1=[1,2,3,4,5]
list2=copy.deepcopy(list1)
list2.append(5)
print(list())
print(list2)

NameError: name 'copy' is not defined

In [6]:
def f(x,l=[]):
    for i in range(x):
        l.append(i*i)
    print(l)
f(3)
f(4,[2,3,4])
f(2)

[0, 1, 4]
[2, 3, 4, 0, 1, 4, 9]
[0, 1, 4, 0, 1]

In [1]:
# 0 0 0
# 0 1 1
# 1 0 1
# 1 1 1

a=10
b=6
a or b

10

In [2]:
# 0 0 0
# 0 1 0
# 1 0 0
# 1 1 1
a and b

6

In [3]:
# 0 0 0
# 0 1 1
# 1 0 1   
# 1 1 0
a^b

12

In [4]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [8]:
[x for x in range(1,11) if x%2==1]

[1, 3, 5, 7, 9]

In [9]:
[x if x>2 else x+1 for x in range(1,11)]

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
num=[1,2,3,4]
[x*10 for x in num]

[10, 20, 30, 40]

In [14]:
words=["hello",'a',"amuls"]
[x.upper() for x in words]

['HELLO', 'A', 'AMULS']

In [15]:
str1="amul57899jhh"
[x for x in str1 if x.isdigit()]

['5', '7', '8', '9', '9']

In [16]:
[x for x in str1 if x.isalpha()]

['a', 'm', 'u', 'l', 'j', 'h', 'h']

In [17]:
list1=[[1,2,3],[7,89,7],[43,12]]
[x[0] for x in list1]

[1, 7, 43]

In [21]:
def square(x):
    return x*x

In [22]:
[square(x) for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
a=[1,2,3,4]
b=[5,6,7]
[x+y for x in a for y in b]

[6, 7, 8, 7, 8, 9, 8, 9, 10, 9, 10, 11]

In [26]:
c=[1,2,3,4]
[a[i]+c[i] for i in range(0,len(a))]

[2, 4, 6, 8]

In [3]:
def reverse(string):
    reversed_string =" "
    for i in string:
        reversed_string =i+reversed_string
    print(reversed_string)
string =input("entered string")
print("reversed string:",string)
reverse(string)

entered stringsiddu
reversed string: siddu
uddis

In [4]:
# In Python, the term monkey patch refers to dynamic (or run-time) modifications of a class or module. 
# In Python, we can actually change the behavior of code at run-time.
# monk.py
class A:
     def func(self):
          print ("func() is being called")

In [5]:
import monk
def monkey_f(self):
     print ("monkey_f() is being called")
   
# replacing address of "func" with "monkey_f"
monk.A.func = monkey_f
obj = monk.A()
  
# calling function "func" whose address got replaced
# with function "monkey_f()"
obj.func()

ModuleNotFoundError: No module named 'monk'

In [6]:
# defining a decorator
def hello_decorator(func):
 
   
    def inner1():
        print("Hello, this is before function execution")
 
        func()
 
        print("This is after function execution")
         
    return inner1
 
 
# defining a function, to be called inside wrapper
def function_to_be_used():
    print("This is inside the function !!")
 
 
function_to_be_used = hello_decorator(function_to_be_used)
 
 
# calling the function
function_to_be_used()

Hello, this is before function execution
This is inside the function !!
This is after function execution

In [2]:
# fabinoci sequence
n=int(input("enter number of elements:"))
first=0
second=1
for i in range(n):
    print(first)
    temp=first
    first=second
    second=temp+first

enter number of elements:5
0
1
1
2
3

In [3]:
# vowels count
n= input("enter data")
str=n.lower()
print(str)
count=0
list=['a','e','i','o','u']
for char in str:
    if char in list:
        count=count+1
print(count)

enter datadjkfjdikjf jhfiJFJKDJSK
djkfjdikjf jhfijfjkdjsk
2

In [4]:
class ball:
    @staticmethod
    def learn(a,b):
        c=a+b
        print(c)
obj= ball()
obj.learn(10,20)

30

In [5]:
a={'banana':'fruits','chilli':'vegetable','apple':'fruits'}
output:{fruits:[apple, banana],vegtable:[chill]}

In [8]:
a=[1,2,3,4,5]
b=dict(enumerate(a))
b

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [9]:
a=[1,2,3,4,5]
b={}
for i in range(1,len(a)+1):
    b[a.index(i)]=i
print(b)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [2]:
# Factorial of a number using recursion
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)

num = 7

# check if the number is negative
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

In [6]:
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)
fact(5)

120

In [8]:
# factorial with recursion
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
n=int(input("enter num"))
result=fact(n)
print(result)

enter num5
120

In [4]:
def counter(c):
    if c<=0:
        return c
    else:
        return c+counter(c-1)
counter(5)

15

In [9]:
# fabinacco series
n=int(input("enter no of sequence values"))
first=0
second=1
for i in range(n):
    print(first)
    temp=first
    first=second
    second=temp+second

enter no of sequence values5
0
1
1
2
3

In [11]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str
s="siddhodhana"
print("The original string is : ", end="")
print(s)
print("reverse string: ",end="")
print(reverse(s))

The original string is : siddhodhana
reverse string: anahdohddis

In [5]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str
 
s = "Geeksforgeeks"
 
print("The original string is : ", end="")
print(s)
 
print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string(using loops) is : skeegrofskeeG

In [9]:
list1 = [10, 21, 4, 45, 66, 93, 11]
for i in list1:
    if i%2!=0:
        print(i,end=' ')

21 45 93 11

In [7]:
P=lambda x:x*2
print(P(2))

4

In [ ]:
SELECT * FROM CLIENT WHERE ClientID=1111;
A6B5C10

In [10]:
import re

txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [11]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [3]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [5]:
list=[x for x in range(10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list=[x*2 for x in range(10)]
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
list=[x**2 for x in range(10)]
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [10]:
# decending order
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [11]:
# acending order

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']